<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Docmed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/themify-icons.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/flaticon.css">
    <link rel="stylesheet" href="../css/gijgo.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/slicknav.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <div class="errorcontainer">DATOS NO VALIDOS</div>
    <div class="inferror">Verifica que ningun alumno tenga datos en blanco. <br> 
    En caso de que fuese así, cambia el dato vacio por un punto "."</div>
    <img src="../img/columerror.svg" style="float: right; width:40%; margin-top:-150px; margin-right:15px">
    <div class="book_btn d-none d-lg-block" style="height: 200px; margin-top: 100px">
        <a asp-action="Return" asp-controller="Admin" style="background-color: #38478cff; color: white; margin-left: 100px; border-radius:5%; padding:20px;">VOLVER A SUBIR ARCHIVO</a>
    </div>
</body>


</html>