<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Docmed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/themify-icons.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/flaticon.css">
    <link rel="stylesheet" href="../css/gijgo.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/slicknav.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> informatica@ldsm.cl</a></li>
                                    <li><a href="#"> <i class="fa fa-phone"></i>582587717</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="#">
                                    <img src="../img/logo.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a asp-action="Index" asp-controller="Home" class="popup-with-form">SALIR</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->


    <!-- service_area_start -->
    <div class="service_area">
        <div class="container p-0">
            <div class="row no-gutters">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <div class="icon" style="margin-bottom: 20px; margin-top:20px;">
                            <i class="fa fa-database"></i>
                        </div>
                        <h3>Nominas Alumnos</h3>
                        <p>Puedes realizar el registro de los alumnos de 4° Medio por año.</p>
                        @model DataEncrypted
                        <form asp-action="Uploadata" asp-controller="Admin" method="post">
                        <input type="text" asp-for="S2T9KFAMwcTym4xOUSs4" value="921934879" style="display: none;">
                        <span asp-validation-for="S2T9KFAMwcTym4xOUSs4" style="display: none;"></span>
                        <input type="text" asp-for="d8lZG2vmsC1yAquO2wJy" value="mtG9@w5d^0k6@WDB0^Ey" style="display: none;">
                        <span asp-validation-for="d8lZG2vmsC1yAquO2wJy" style="display: none;"></span>
                        <input type="text" asp-for="crelkfLYCQy2GlWU3UJC" value="]Od3Kzt%x{NSmquJ8tlq" style="display: none;">
                        <span asp-validation-for="crelkfLYCQy2GlWU3UJC" style="display: none;"></span>
                        <button class="boxed-btn3-white">Subir Nominas</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <div class="icon">
                            <i class="fa fa-file-pdf-o" style="margin-bottom: 20px; margin-top:20px;"></i>
                        </div>
                        <h3>Certificados</h3>
                        <p>Genera certificados de licencia de los alumnos que estén registrados en el sistema.</p>
                        
                        <form asp-action="Createcertificate" asp-controller="Admin" method="post">
                        <input type="text" asp-for="S2T9KFAMwcTym4xOUSs4" value="921934879" style="display: none;">
                        <span asp-validation-for="S2T9KFAMwcTym4xOUSs4" style="display: none;"></span>
                        <input type="text" asp-for="d8lZG2vmsC1yAquO2wJy" value="mtG9@w5d^0k6@WDB0^Ey" style="display: none;">
                        <span asp-validation-for="d8lZG2vmsC1yAquO2wJy" style="display: none;"></span>
                        <input type="text" asp-for="crelkfLYCQy2GlWU3UJC" value="]Od3Kzt%x{NSmquJ8tlq" style="display: none;">
                        <span asp-validation-for="crelkfLYCQy2GlWU3UJC" style="display: none;"></span>
                        <button class="boxed-btn3-white">Crear Certificado</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <div class="icon">
                            <i class="fa fa-pencil-square-o" style="margin-bottom: 20px; margin-top:20px;"></i>
                        </div>
                        <h3>Modificar Alumno</h3>
                        <p>Si necesitas modificar los datos personales de un alumno puedes hacerlo aquí.</p>
                        
                        <form asp-action="Modifystudent" asp-controller="Admin" method="post">
                        <input type="text" asp-for="S2T9KFAMwcTym4xOUSs4" value="921934879" style="display: none;">
                        <span asp-validation-for="S2T9KFAMwcTym4xOUSs4" style="display: none;"></span>
                        <input type="text" asp-for="d8lZG2vmsC1yAquO2wJy" value="mtG9@w5d^0k6@WDB0^Ey" style="display: none;">
                        <span asp-validation-for="d8lZG2vmsC1yAquO2wJy" style="display: none;"></span>
                        <input type="text" asp-for="crelkfLYCQy2GlWU3UJC" value="]Od3Kzt%x{NSmquJ8tlq" style="display: none;">
                        <span asp-validation-for="crelkfLYCQy2GlWU3UJC" style="display: none;"></span>
                        <button class="boxed-btn3-white">Editar Datos de Alumnos</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->

    

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
</body>

</html>