<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				@model Admin
				<form class="login100-form validate-form" asp-action="Login" asp-controller="Home" method="post">
				<img class="imginsignia" src="../img/insignia.svg">
					<p class="pldsm">Liceo Domingo Santa María</p>
					<span class="login100-form-title p-b-43">
						CERTIFICADOS 4°MEDIO
					</span>
					
					<span style="margin-left: 10px; color: #6C6A6A">Correo Institucional</span>
					<div class="wrap-input100 validate-input" data-validate = "Requiere correo institucional: ejemplo@ldsm.cl">
						<input class="input100" type="text" asp-for="user_admin">
						<span asp-validation-for="user_admin"></span>
						<span class="focus-input100"></span>
						
					</div>
					
					
					<span style="margin-left: 10px; color: #6C6A6A">Contraseña</span>
					<div class="wrap-input100 validate-input" data-validate="Requiere Contraseña">
						<input class="input100" type="password" asp-for="pass_admin">
						<span asp-validation-for="pass_admin"></span>
						<span class="focus-input100"></span>
						
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						

						
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Acceder
						</button>
					</div>
					
					
					
					<div class="text-center p-t-46 p-b-20">
						
					</div>

					<div class="login100-form-social flex-c-m">
						
					</div>
				</form>
				<div class="login100-more" style="background-image: url('img/loginimg.jpeg');">
				</div>			
			</div>
		</div>
	</div>

	

	
	
<!--===============================================================================================-->
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../js/main.js"></script>

</body>
</html>